appdirs==1.4.3
click==6.6
cssmin==0.2.0
Flask==0.12
Flask-Assets==0.12
itsdangerous==0.24
Jinja2==2.8
jsmin==2.2.1
MarkupSafe==0.23
numpy==1.11.3
packaging==16.8
pandas==0.19.2
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2016.10
six==1.10.0
webassets==0.12.1
Werkzeug==0.11.13
